
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.heroSection {
    display: flex;
    margin: 1% 10% 1% 10%;
    gap: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.heroImg {
    flex: 1;
    width: 480px;
}
.callToAction {
    display: flex;
    flex: 2;
    font-family: 'Gotu', sans-serif;
    font-size: 1.1rem;
    flex-direction: column;
}

.headerHero {
    display: flex;
    text-align: center;
    font-family: 'Gotu', sans-serif;
    font-size: 1.1rem;
}

.heroDescription {
    display: flex;
    margin: 1% 10% 1% 10%;
    flex-direction: column;
}

.btn {
    display: flex;
    flex: 3;
    margin: 20px auto;
    padding: 10px;
    width: 255px;
    border: 2px solid black;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Montserrat', serif;
    text-transform: uppercase;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn:hover {
    background-color: black;
    color: white;
}

.threeBlocks {
    display: flex;
    margin: 1% 10% 1% 10%;
    justify-content: space-between;
    gap: 5%;
    flex-direction: row;
}

.blockOne,
.blockTwo,
.blockThree {
    width: 30%;
}

.blockTitle {
    text-align: center;
}

.blockText {
    margin: 10px 0;
}
.phoneMain {
    display: flex;
    justify-content: center;
    margin: 20px;
}

@media all and (max-width: 600px) {
    .heroSection {
        margin: 5% 5%;
    }

    .heroImg {
        width: 100%;
    }
    .heroDescription {
        margin: 5% 5%;
    }

    .threeBlocks {
        margin: 5% 5%;
        flex-wrap: wrap;
    }
    .blockOne,
    .blockTwo,
    .blockThree {
        width: 100%;
    }
    .blockTitle {
        text-align: left;
    }
}